{% extends "uploadingData/base.html" %}

{% block content %}

<h3>Robot {{ robot_name }}:</h3>

{{programs | safe}}

<div style="margin-top:30px">
{% for item in errors %}
<ul class="list-group " >
        <li class="list-group-item "><b>{{item.program_name}}</b> {{item.robot_error}}</li>
</ul>

{% endfor %}
</div>

<div class="navbar fixed-bottom navbar-expand-sm bg-dark navbar-dark ">
        <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="/{{ robot_name }}/compare">compare</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/{{ robot_name }}/delete">delete</a>
                </li>
        </ul>
</div>
{% endblock %}
